:root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primery-white-color: #FFFFFF;
--secondery-bgc-black: #2F303A;
--section-bgc-grey: #F5F4FA;
--cubik-timing: cubic-bezier(0.4, 0, 0.2, 1);
}


body{
background-color: var(--primery-white-color);
color: var(--primary-text-color);
font-family: 'Roboto';
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
padding: 94px 0px;}

.section__title{
margin-bottom: 50px;

color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

/* ШАПКА */

.page-header{
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #ECECEC;
}

.page-header__nav {
    display: flex;
    align-items: center;
}

/*logo*/


.logo{
padding-top: 24px;
padding-bottom: 25px;

color: #000000;

font-family: 'Raleway', sans-serif;  
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}

.logo__color--accent{
color: var(--accent-color);
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}

.logo:hover,
.logo:focus{
color: var(--accent-color);
}

/* NAV */

.site-nav{
display: flex;
transition: color 250ms var(--cubik-timing);
margin-left: 93px;
}

.site-nav__link::after{
content: '';

position: absolute;
left: 0;
bottom:0;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);

opacity: 0;
/*transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;*/
}

.site-nav__item+ .site-nav__item{
margin-left: 50px;
}

.site-nav__link{
display: block;
padding-top: 32px;
padding-bottom: 32px;
color: var(--title-text-color);

font-weight: 500;
letter-spacing: 0.02em;
text-decoration: none;

position: relative;
transition: color 250ms var(--cubik-timing);
}

.site-nav__link:hover,
.site-nav__link:focus{
color: var(--accent-color);
}

.current::after {
    opacity: 1;
}

.current {
    color: var(--accent-color);
}

/* Contact */

.auth-nav{
display: flex;
align-items: center;
}

.auth-nav__item+ .auth-nav__item{
margin-left: 30px;
}

.auth-nav__contact{
display: flex;
padding-top: 32px;
padding-bottom: 32px;
align-items: center; 

color: var(--primary-text-color);

font-weight: 500;
letter-spacing: 0.02em;
text-decoration: none;
transition: color 250ms var(--cubik-timing);
}

.auth-nav__contact:hover,
.auth-nav__contact:focus{
color: var(--accent-color);
}

.auth-nav__contact:hover .auth-nav__icon,
.auth-nav__contact:focus .auth-nav__icon{
fill: var(--accent-color);
}


.auth-nav__icon{
margin-right: 10px;
fill: var(--primary-text-color);
transition: fill 250ms var(--cubik-timing);
}

/* ГЕРОЙ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-hero{
text-align: center;
padding: 200px 0;
color: var(--primery-white-color);
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url('../images/office.jpg');
background-color: #C4C4C4;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


.section-hero__title {
width: 693px;
margin-right: auto;
margin-left: auto;
margin-top: 0;
margin-bottom: 30px;

color: var(--primery-white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.button{
border-radius: 4px;
padding: 10px 32px;
border-color: var(--accent-color);
border: none;

color: var(--primery-white-color);
background-color: var(--accent-color);

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
transition: background-color 250ms var(--cubik-timing);
}

.button:hover,
.button:focus{
background-color: #188CE8;
}

.is-hidden{
visibility: hidden;
opacity: 0;
pointer-events: none;
}


/* MODAL*/


.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 528px;
height: 581px;

background: var(--primery-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
opacity: 1;
visibility: visible;
}

.backdrop{
position: fixed;
z-index: 20;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
transition: opacity 250ms var(--cubik-timing), visibility 250ms var(--cubik-timing);
}
.modal-inner {
    padding: 40px;
}

.modal-inner__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
    margin-bottom: 12px;
}

/* close-button */

.close-button{
position: absolute;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
padding: 0;
cursor: pointer;
background-color: var(--primery-white-color);

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50% 50%;
transition: fill 250ms var(--cubik-timing);
outline: none;
}

.close-button__icon{
position: absolute;
width: 18px;
height: 18px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.close-button:hover,
.close-button:focus{
fill: var(--accent-color);
}

/* FORM */

.form-field{
margin-bottom: 10px;
}

.form-field__label{
display: block;

font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--primary-text-color)
}

.form-field__inner {
    position: relative;
    margin-top: 4px;
}

.form-field__input{
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 12px 12px 42px;
cursor: pointer;
outline: none;

transition: border-color 250ms var(--cubik-timing);
}


.form-field__input:focus {
border-color: var(--accent-color);
}

.form-field__input:focus + .form-field__icon{
fill: var(--accent-color);
}

.form-field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--title-text-color);
    transform: translateY(-50%);

    transition: fill 250ms var(--cubik-timing);
}

.form-field__input.form-field__input--textarea::placeholder {
    font-weight: 400;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-field__input--textarea{
margin-top: 4px;
resize: none;
padding: 12px 16px;
height: 120px;
}

.form-field__coment-box{
margin-bottom: 20px;}


/* checkbox */

.checkbox__label{
display: flex;
justify-content: center;
align-items: center;

margin-bottom: 0px;
}

.checkbox__icon{
display: inline-block;
margin-right: 7px;
width: 16px;
height: 15px;
background-image: url('../images/Vector.svg');
}

.checkbox__input:checked + .checkbox-icon{
background-image: url('../images/icon-check.svg');
}

.checkbox__contract{
color: var(--accent-color);
margin-left: 4px;
}

/* button-form */


.button-form{
display: block;
width: 200px;
margin-left: auto;
margin-right:auto;
margin-top: 30px;
background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* Особенности*/

.section-features{
padding-bottom: 0px;}

.features {
    display: flex;
}

.feature__box{
display: flex;
width: 270px;
height: 120px;
    
margin-bottom: 30px;
background-color: var(--section-bgc-grey);
border-radius: 4px;
justify-content: center;
align-items: center;
}


.feature__icon {
width: 70px;
height: 70px;
}


.feature+ .feature{
margin-left: 30px;
}

.feature__title{
color:var(--title-text-color);
font-weight: 700;
text-transform: uppercase;
}

.feature__text{
margin-top: 0px;
margin-bottom: 0px;
color: var(--primary-text-color);
line-height: 1.71;
}


/*Чем мы занимаемся*/

.image {
    display: flex;
}

.product {
    margin-left: auto;
    margin-right: auto;
}

.product+ .product {
    margin-left: 30px;
}

.product__thumb{
position: relative;
}

.product__text{
position: absolute;
bottom: 0px;
width: 100%;
height: 70px;
background: rgba(47, 48, 58, 0.8);

font-weight: 700;   
text-align: center;
justify-content: center;
text-transform: uppercase;
color: var(--primery-white-color);

padding: 27px 0px;
margin: 0px;
}


/*Наша команда*/


.section-team{
background: var(--section-bgc-grey)}

.team{
display: flex;
}

.card-team{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

background-color: var(--primery-white-color);
}

.card-team+ .card-team{
    margin-left: 30px;
}

.card-team__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card-team__title{
padding: 30px 0;
}

.card-team__position{
font-size: 16px;
line-height: 1.19;
text-align: center;
margin-bottom: 0px;
}

/* socials-team */

.socials-team{
display: flex;
justify-content: center;
margin-top: 16px;
}

.socials-team__link+ .socials-team__link {
    margin-left: 10px;
}

.socials-team__icon {
    width: 20px;
    height: 20px;
    
}

.socials-team__logo {
    display: flex;
    width: 44px;
    height: 44px;
    background: var(--primery-white-color);
    border-radius: 50%;
    background-size: 20px;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: fill 250ms var(--cubik-timing), background 250ms var(--cubik-timing);
}

.socials-team__logo:hover,
.socials-team__logo:focus{
background: var(--accent-color);
fill: var(--primery-white-color);
}


/* Клиенты */



.clients{
display: flex;
margin-top: 50px;
margin-bottom: 0px;
padding: 0px;
}

.client-card+ .client-card{
margin-left: 30px;
}

.client-card__item{
display: flex;
width: 170px;
height: 92px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition: fill 250ms var(--cubik-timing), border 250ms var(--cubik-timing);
}


.client-card__logo{
width: 106px;
height: 60px;

}

.client-card__item:hover,
.client-card__item:focus{
border:1px solid var(--accent-color);
fill: var(--accent-color);
}


/* Подвал */


.section-footer{
padding: 60px 0;
background-color: var(--secondery-bgc-black);
}

.footer{
display: flex;
align-items: baseline;
}



/* LOGO FOOTER*/

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--primery-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer__color--accent {
    color: var(--accent-color)
}


/* address */


.address__item+.address__item {
 margin-top: 9px;
}

.address__map{
color:var(--primery-white-color);
line-height: 1.71;
}

.address__contacts{
color: rgba(255, 255, 255, 0.6);
line-height: 1.71;  
transition: color 250ms var(--cubik-timing);
}

.address__contacts:hover,
.address__contacts:focus{
color: var(--accent-color);
}

.address__map, .address__contacts{
font-style: normal;
    text-decoration: none;
}


/*socials footer*/


.socials {
    margin-left: 70px;
}

.socials__title{
margin-bottom: 20px;
font-weight: 700;
text-transform: uppercase;

color: #FFFFFF;
}

.social-footer{
display: flex;

}
.social-footer__area+ .social-footer__area{
margin-left: 10px;
}

.social-footer__link{
display: flex;
width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: 20px;
    justify-content: center;
    align-items: center;
    transition: background 250ms var(--cubik-timing);
}

.social-footer__link:hover,
.social-footer__link:focus{
background: var(--accent-color);
}

.social-footer__logo {
    width: 20px;
    height: 20px;
    fill: var(--primery-white-color);
}


/*subscription*/

.subscription {
    margin-left: 93px;
}

.form-subscription__field{
display:flex;}

.form-subscription__input{
font-weight: 400;
font-size: 16px;
line-height: 1.25;

display: flex;
align-items: center;
letter-spacing: 0.03em;
color: var(--primery-white-color);

background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 15px 16px ;}


.form-subscription__label{
 width: 358px;
}

.form-subscription__input{
height: 50px;
width: 100%;
display: block;
outline: none}

.button__subscription{
display: flex;
margin-left: 12px;
width: 200px;
justify-content: center;
padding: 0%;
}

.form-subscription__icon{
margin-left: 10px;
fill: var(--primery-white-color);
}

/* portfolio */



/* Filter */


.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__button {
padding: 6px 22px;
color: var(--title-text-color);
background-color: var(--section-bgc-grey);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
cursor: pointer;
border-radius: 4px;
border-color: transparent;

transition: color 250ms var(--cubik-timing), background-color 250ms var(--cubik-timing), box-shadow 250ms var(--cubik-timing);
}

.filter__button:hover,
.filter__button:focus{
color: var(--primery-white-color);
background-color: var(--accent-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button:active{
background-color: var(--accent-color);
color: var(--primery-white-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* card-set*/

.card-set {
    display: flex;
    flex-wrap: wrap;
}

.card-set__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

}


.card-set__item:nth-child(3n) {
    margin-right: 0px;
}

.card-set__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}


/* project */


.project {
    display: block;
    border: 1px solid #EEEEEE;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms var(--cubik-timing);
}

.project:hover,
.project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__image {
    position: relative;
overflow: hidden;
}

.project__overlay{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 63px 24px;
background: rgba(33, 150, 243, 0.9);

 transform: translatey(100%);
 transition: transform 250ms var(--cubik-timing);
 }

 .project__text {
position: absolute;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--primery-white-color)
 }

 .project:hover .project__overlay {
transform: translatey(0);
}

.project__meta {
    padding: 20px 24px;
}

.project__name {
margin-bottom: 4px;

color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.project__program{
font-size: 16px;
line-height: 1.88;
margin-bottom: 0px;
}

.project__name, .project__program{
display: flex;
justify-content: start;
}





























