.section-footer {
    padding: 60px 0;
    background-color: var(--secondery-bgc-black);
}

.footer {
    display: flex;
    align-items: baseline;
}



/* LOGO FOOTER*/

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--primery-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer__color--accent {
    color: var(--accent-color)
}


/* address */


.address__item+.address__item {
    margin-top: 9px;
}

.address__map {
    color: var(--primery-white-color);
    line-height: 1.71;
}

.address__contacts {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    transition: color 250ms var(--cubik-timing);
}

.address__contacts:hover,
.address__contacts:focus {
    color: var(--accent-color);
}

.address__map,
.address__contacts {
    font-style: normal;
    text-decoration: none;
}


/*socials footer*/


.socials {
    margin-left: 70px;
}

.socials__title {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;

    color: #FFFFFF;
}

.social-footer {
    display: flex;

}

.social-footer__area+.social-footer__area {
    margin-left: 10px;
}

.social-footer__link {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-size: 20px;
    justify-content: center;
    align-items: center;
    transition: background 250ms var(--cubik-timing);
}

.social-footer__link:hover,
.social-footer__link:focus {
    background: var(--accent-color);
}

.social-footer__logo {
    width: 20px;
    height: 20px;
    fill: var(--primery-white-color);
}


/*subscription*/

.subscription {
    margin-left: 93px;
}

.form-subscription__field {
    display: flex;
}

.form-subscription__input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--primery-white-color);

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
}


.form-subscription__label {
    width: 358px;
}

.form-subscription__input {
    height: 50px;
    width: 100%;
    display: block;
    outline: none
}

.button__subscription {
    display: flex;
    margin-left: 12px;
    width: 200px;
    justify-content: center;
    padding: 0%;
}

.form-subscription__icon {
    margin-left: 10px;
    fill: var(--primery-white-color);
}